
.footer {
    background-color:hsl(232, 12%, 13%);
    color: white;
    padding-block: 3rem;
    bottom: 0;
    width: 100%;
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: space-between;
    position:static;
     /* Add padding as needed */
    height:15%;
  }
  
  .footer-icons {
    font-size: 24px;
    margin-right: 8px; /* Add margin as needed */
  }
  
  .text {
    font-size: 16px;
    display: flex;
    flex:1 2 auto;
  }

  .container {
    --max-width: 1110px;
    --padding: 1rem;
  
    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
  }

  .even-columns {
    display: grid;
    gap: 1rem;
  }
  
  @media (min-width: 50em) {
    .even-columns {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
  }
  
  .vegetable-bowl{
    width:85px;
    height: 85px;
  }

  ul.icons li {
  display:inline-block;
  padding:5px;
  }

ul.flow{
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  

}

.flow li a 
{
text-decoration: none;
color:white;
}

.flow li a:hover 
{
text-decoration: none;
color:red;
}

.footer-signup form{
display: inline-block;
padding:3px;
}

.footer-signup input{
    border-radius: 5px;
    border-color:white;
  
}
.footer-signup button{
    
}