
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{blog.title}}</mat-card-title>
      <mat-card-subtitle>User name</mat-card-subtitle>
    </mat-card-header>
    <div class="card-container">
    <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  
    <mat-card-content>
      <p>
       {{blog.content}}
      </p>
      <hr>
      {{blog.dateAdded}}
      <hr>
      {{blog.status}}
      <hr>
      {{blog.likeCount}}
    </mat-card-content>
</div>
  
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> 
