<mat-toolbar color="warn">
   <img src="../../../assets/vegetable_bowl_navbar.png" width="40px" height="40px"
    routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" alt="Bench Logo">
    <ng-container *ngIf="accountService.CurrentUser$ | async">
      <button class="menu" mat-button>Menu</button>
      <button class="home"routerLink="/home" mat-button>Home</button>
      <button class="about" routerLink="/"  routerLinkActive="active" ariaCurrentWhenActive="page" mat-button >About</button>
      <button class="errors" routerLink="/testerrors"  routerLinkActive="active" ariaCurrentWhenActive="page" mat-button >Errors</button>
    </ng-container>

    <span class="spacer"></span>

    <app-searchbar></app-searchbar>
    
    <button *ngIf="(accountService.CurrentUser$ | async)===null" routerLink="/registration" class="registration" mat-button >Sign in</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item>About</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    <button *ngIf="accountService.CurrentUser$ | async" mat-icon-button [matMenuTriggerFor]="menu" class="mat-icon-button">
    <mat-icon class="icon-list" aria-hidden="false" aria-label="Example heart icon">list</mat-icon>
    </button>
</mat-toolbar>